html {
    box-sizing: border-box;
  }
  
*,
*::before,
*::after {
  box-sizing: inherit;
}
  
* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/* Fonts-start */

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* Fonts-end */

.hero {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #fff;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.main {
  padding: 50px;
}

.sec-text {
  font-size: 18px;
  color: #e5e7eb;
}

.heading ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

li {
  list-style-type: none;
}

.left-push {
  margin-left: auto;
}

.random-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.random-info-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.random-info-container {
  display: flex;
  gap: 20px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #e5e7eb;
}

.quote-container p {
  font-size: 36px;
  color: #1f2937;
}

.quote-author {
  align-self: flex-end;
}

.sign-up-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign-up-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 50px;
  padding: 20px;
  background-color: #3882f6;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #fff;
}

button {
  background-color: #3882f6;
  border: solid 1px #fff;
  color: #fff;
  padding: 4px 16px;
}